<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="clientId" value="ea0616ba-638b-4df5-95b9-636659ae5121"/>
	<!-- The Power BI API Endpoint -->
	<add key="powerBiApiEndpoint" value="https://api.powerbi.de" />
	<!-- The Azure Resource Manager API Endpoint-->
	<add key="azureApiEndpoint" value="https://management.microsoftazure.de/" />
	<!-- The Azure Resource Manager Resource -->
	<add key="armResource" value="https://management.microsoftazure.de/"/> 
	<!-- The Azure API version -->
	<add key="apiVersion" value="?api-version=2016-01-29"/>
	<!-- Authentication Url-->
	<add key="AuthenticationUrl" value="https://login.microsoftonline.de"/>
	<!-- tenants Url -->
	<add key="tenantsUrl" value="https://management.microsoftazure.de/tenants?api-version=2016-09-01" />
	<!-- defaultRegion -->
	<add key="defaultRegion" value="germanycentral"/>
	<!-- The Default Embed URL -->
	<add key="defaultEmbedUrl" value="https://embedded.powerbi.de/appTokenReportEmbed" />
</appSettings>