<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="clientId" value="ea0616ba-638b-4df5-95b9-636659ae5121"/>
	<!-- The Power BI API Endpoint -->
	<add key="powerBiApiEndpoint" value="https://api.powerbi.com" />
	<!-- The Azure Resource Manager API Endpoint-->
	<add key="azureApiEndpoint" value="https://management.azure.com" />
	<!-- The Azure Resource Manager Resource -->
	<add key="armResource" value="https://management.core.windows.net/"/>
	<!-- The Azure API version -->
	<add key="apiVersion" value="?api-version=2016-01-29"/>
	<!-- Authentication Url-->
	<add key="AuthenticationUrl" value="https://login.windows.net"/>
	<!-- tenants Url -->
	<add key="tenantsUrl" value="https://management.azure.com/tenants?api-version=2016-01-29" />
	<!-- defaultRegion -->
	<add key="defaultRegion" value="southcentralus"/>
	<!-- The Default Embed URL -->
	<add key="defaultEmbedUrl" value="https://embedded.powerbi.com/appTokenReportEmbed" />
</appSettings>