<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="clientId" value="86930333-ff68-421d-a31f-9827e1e92f60"/>	
	<!-- The Power BI API Endpoint -->
	<add key="powerBiApiEndpoint" value="https://WABI-MC-BJB-redirect.analysis.chinacloudapi.cn" />     
	<!-- The Azure Resource Manager API Endpoint-->
	<add key="azureApiEndpoint" value="https://management.chinacloudapi.cn" />     
	<!-- The Azure Resource Manager Resource -->
	<add key="armResource" value="https://management.core.chinacloudapi.cn/"/>      
	<!-- The Azure API version -->
	<add key="apiVersion" value="?api-version=2016-01-29"/>      
	<!-- Authentication Url-->
	<add key="AuthenticationUrl" value="https://login.chinacloudapi.cn"/>      
	<!-- tenants Url -->
	<add key="tenantsUrl" value="https://management.chinacloudapi.cn/tenants?api-version=2016-06-01" />
</appSettings>